body, html {
  height: 100%;
  width: 100%;
}
.front{
  width: 100%;
  height: 100%;
  position: fixed;
}
body{
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
  /* width: 100%; */
}
#submit:hover,img:hover, button:hover{
  cursor: pointer;
}

img{
  height: 200px;
  width: 260px;
  margin: 15px;
}
button{
  margin: 10px 5px;
  border-radius: 10%;
}
.nav-section{
  background-color: #121212;
  width: 305px;
  height: 100%;
  position: fixed;

}
.display{
  
  margin-left: 305px;
  overflow: auto;
}
.displayImg{
 overflow: auto;
 margin-left: 350px;
}
#submit, #gifyName, button{
  background-color: #121212 !important;
  color: #ffffff !important;
}
h4{
  color: #ffffff;
  margin-left: 15px 
}
.prev, .next{
  opacity: 0.5;
  position: relative;
  top: 150px;
}
.next{
  left: 800px;
}
.prev{
  left: 10px;
  z-index: 40;
}
.peek-4{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



